@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

#container_contact {
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background: var(--menu-bg-color);
    box-shadow: 0 0 10px 1px rgba(159, 159, 159, 0.48);
    #head_contact{
        margin: 0;
        padding: 0;
        p{
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2em;
            margin: 0;
            padding: 0;
        }
    }
}
.name_contact{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: var(--text-color);
}
#info_contact{
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    width: 100%;
    #phone_contact{
        margin: 10px;
        width: 270px;
        p{
            font-family: 'Roboto Condensed', sans-serif;
            color: var(--text-color);
            padding: 0;
        }
    }
    #work_contact{
        margin: 10px;
        width: 270px;
        p{
            font-family: 'Roboto Condensed', sans-serif;
            color: var(--text-color);
            padding: 0;
        }
    }
    #name_contact{
        margin: 10px;
        width: 270px;
        button{
            cursor: pointer;
            border: none;
            border-radius: 5px;
            padding: 10px;
            background: var(--text-color);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            img{
                margin-right: 5px;
                max-height: 100%;
                max-width: 100%;
            }
            p{
                color: var(--menu-bg-color);
            }
        }
        p{
            font-family: 'Roboto Condensed', sans-serif;
            color: var(--text-color);
            padding: 0;
        }
    }
}
#mapa_contact{
    margin: 20px 0 0 0;
    padding: 0;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    width: 100%;
    iframe{
        border-radius: 5px;
        margin: 10px;
        width: 100%;
    }
}
#mail_contact{
    font-family: 'Roboto Condensed', sans-serif;
    div{
        width: 100%;
        border-bottom: 1px solid var(--text-color);
        p{
            margin: 1rem 0 .5rem 0;
            width: 100%;
        }
    }
    form{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        label{
            margin: 1rem 0 1rem 0;
            display: flex;
            span{
                opacity: .7;
                margin: auto;
                display: block;
                width: 250px;
            }
            input{
                border-radius: 5px;
                background: none;
                height: 20px;
                width: 100%;
                border: 1px solid rgba(71, 66, 66, 0.71);
                outline: none;
                &:focus{
                    border-color: #bf2929;
                    box-shadow: 0 0 2px #bf2929;
                }
                &:valid{
                    border-color: #474242FF;
                }
            }
            #text_vopros{
                margin: 2.5px;
            }
            #vopros{
                height: 150px;
            }
        }
    }
    #button_mail_contact{
        border: none;
        display: flex;
        justify-content: flex-end;
        button{
            cursor: pointer;
            border: none;
            border-radius: 5px;
            padding: 10px;
            background: var(--text-color);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            color: var(--menu-bg-color);
        }
    }
}