main .inner_container{
    padding-right: 200px;
    box-sizing: border-box;
}

.trending{
    position: fixed;
    top: 4.5rem;
    width: calc(200px - 1rem);
    background: #fff;
    right: 0;
    left: 1024px;
    margin: auto;
    transform: translateX(-50%);
    > h2{
        margin: 1rem 0;
        font-size: 1.1rem;
        text-align: center;
    }
    .post{
        background: #fff;
        padding: 0 1rem 1rem 1rem;
        display: block;
        h2{
            padding-top: 0.5rem;
            border-top: 1px solid rgba(60, 59, 59, 0.15);
            font-size: 1.1rem;
        }
    }
}

.post{
    background: #fff;
    padding: 1rem;
}

.posts .post{
    margin: 1rem 0;
}

.post .post_info{
    align-items: flex-end;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    .username{
        font-size: 1.1rem;
        font-weight: bold;
    }
    .date{
        font-size: .9rem;
        opacity: .7;
    }
}

.posts .post > h2{
    font-weight: bold;
    margin-bottom: .7rem;
}

.post .cover{
    margin-bottom: 1rem;
    width: 100%;
    max-height: 45vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.post .cover img{
    max-width: 100%;
}

.post a{
    transition: all .5s;
    border-radius: .25rem;
    margin: 1rem 0;
    color: #548eaa;
    border: 1px solid #548eaa;
    padding: .5rem 1rem;
    display: inline-block;
    &:hover{
        background: #548eaa;
        color: #fff;
    }
}

.post .preview{
    text-align: justify;
}

.post .post_stats{
    display: flex;
    gap: 1.5rem;
    img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .stat{
        display: flex;
        align-items: center;
        gap: .5rem;
        p{
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 670px){
    main .inner_container{
        padding-right: 0;
        .posts{
            .post{
                .cover{
                    display: none;
                }
                .preview{
                    display: none;
                }
                > h2{
                    margin-bottom: 1rem;
                }
                a{
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
    .post .post_stats{
        display: inline-flex;
        margin-left: 1rem;
    }
}