html{
    height: 100%;
    body{
        height: 100%;
        display: flex;
        flex-direction: column;
        main{
            flex: 1;
            display: flex;
            flex-direction: column;
            .inner_container{
                flex: 1;
                display: grid;
                grid-template: 1fr / 1fr;
                > div{
                    display: none;
                    grid-column-start: 1;
                    grid-row-start: 1;
                    margin: auto;
                    width: 50%;
                }
                > div.active{
                    display: block;
                }
                form{
                    label, input:not([type=checkbox]){
                        display: block;
                        width: 100%;
                        box-sizing: border-box;
                    }
                    label{
                        margin-bottom: .5rem;
                    }
                    input:not([type=checkbox]){
                        margin-bottom: 1.5rem;
                    }
                    button{
                        padding: 1rem;
                        width: 100%;
                        box-sizing: border-box;
                        background: #548eaa;
                        color: #fff;
                        font-size: 1.1rem;
                        margin-top: 1rem;
                        transition: background-color .5s;
                        &:hover{
                            background: #3e697e;
                        }
                    }
                }
                form, .switch{
                    background: #fff;
                    padding: 1rem;
                }
                .switch{
                    margin: 1rem 0;
                    display: flex;
                    gap: 1rem;
                    justify-content: center;
                    button{
                        background: none;
                        font-size: 1rem;
                        color: #548eaa;
                    }
                }
            }
        }
    }
}
