body{
    background-color: rgb(44, 42, 42);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.topblock{
    background: linear-gradient(#313131, #424040);
    display: flex;
    height: 58px;
    border-radius: 15px;
}

.menu{
    list-style: none;
    text-align: center;
    margin-top: -51px;
}

.menu li{
    display: inline;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    opacity: 0.7;
    padding: 10px 20px;
    transition: all 0.2s ease;
}

.menu li a:hover{
    opacity: 1;
    background-color: #292828;
    padding: 10px 20px;
    border-radius: 100px;
    color: coral;
}

.menuhead{
    margin: 0px auto;
    height: 55px;
    width: 100%;
}

.Bobr{
    text-decoration: none;
    width: 100px;
    margin-top: -0px;
    color: white;
}

.Bobra{
    margin-top: 9px;
    margin-left: 15px;
}

.vhoda a{
    float: right;
    font-size: 20px;
    margin-top: -56px;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 100px;
    opacity: 0.7;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
}

.vhoda a:hover{
    background-color: #292828;
    opacity: 1;
    color: coral;
}

.vhoda a:active{
    transform: scale(0.85);
}

.centertext{
    background-color: aqua;
    width: 100px;
    height: 100px;
}

.glavni{
    width: 100%;
    height: 350px;
    background-color: rgb(54, 54, 54);
    margin-top: -35px;
    border-radius: 15px;
}

.glavni h2{
    color: white;
    text-align: center;
    padding-top: 70px;
    font-size: 60px;
    margin-right: 150px;
}

.glavni h1{
    color: coral;
    text-align: center;
    font-size: 60px;
    margin-top: -123px;
    margin-left: 310px;
}

.dsa{
    color: white;
    text-align: center;
    margin-top: -30px;
    font-size: 20px;
}

.glavni a{
    color: white;
    text-decoration: none;
    background-color: #fc865ba2;
    padding: 10px 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.glavni h3{
    text-align: center;
    margin-top: 30px;
}

.glavni a:hover{
    background-color: #fc865bd3;
}

.asd{
    text-align: center;
    font-size: 13px;
    color: white;
}

.minecraft{
    width: 100%;
    height: 800px;
    background-color: rgb(54, 54, 54);
    margin-top: 15px;
    border-radius: 15px;
}

.kotimg{
    width: 550px;
    text-align: center;
    margin: auto;
    padding: 50px;
    color: white;

}

#kot{
    border-radius: 20px;
    float: left;
}

.button{
    text-align: center;
    margin-top: -40px;
}

.reg{
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    height: 400px;
    width: 300px;
    margin: 30px;
    margin-top: 200px;
}

.regprice{
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    height: 400px;
    width: 300px;
    margin: 30px;
    margin-top: 200px;
}

.regpricebutton{
    justify-content: space-around;
    display: flex;
    margin-top: 13px;
}

.regbody{
    justify-content: center;
    display: flex;
}

.coralbutton{
    background-color: coral;
    border-radius: 10px;
    border: none;
    padding: 8px 15px;
    font-size: 15px;
    color: white;
    transition: all 0.1s ease;
}

.corilbutton{
    background-color: #f44504;
    border-radius: 10px;
    border: none;
    padding: 8px 15px;
    font-size: 15px;
    color: white;
    transition: all 0.1s ease;
}

.coralbutton:active{
    transform: scale(0.9);
}

.corilbutton:active{
    transform: scale(0.9);
}

.kotik{
    width: 200px;
    border-radius: 15px;
    transition: all 0.1s ease-in;
}

.fotki{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.kotik:hover{
    box-shadow: 1px 3px 8px black;
    transform: scale(1.1);
}

.kotik:active{
    transform: scale(1);
}