body{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
}

.top-block{
    padding: 15px 20px;
    margin: 10px auto;
    width:85%;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.top-menu{
    display: flex;
}

.top-menu img{
    margin: auto 10px;
    height: 40px;
}

.top-button{
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 550;
    margin-right: 20px;
    cursor: pointer;
}

.top-button:hover{
    text-decoration: underline;
}

.top-menu ul{
    list-style: none;
    margin: auto;
}

.top-menu ul li{
    display: inline;
}

#bot{
    margin: auto 10px;
    cursor: pointer;
    background-color: #611f69;
    height: 50px;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
    transition: 0.3s all ease;
}

#bot:hover{
    background-color: #4d1953;
}

#but{
    margin: auto 10px;
    cursor: pointer;
    background-color: white;
    height: 50px;
    border-radius: 5px;
    padding: 10px 15px;
    color: #611f69;
    border: 2px solid #611f69;
    font-size: 17px;
    font-weight: 700;
    transition: 0.3s all ease;
}

#but:hover{
    color: #4d1953;
    border-color: #4d1953;
}

.reg-block{
    align-items: center;
    display: flex;
}

.reg-block img{
    height: 30px;
}

.centertext-block{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#violet{
    color: #9703c9;
}

.centertext-block h1{
    font-family: "Poppins", sans-serif;
    font-size: 65px;
    margin: auto 10px;
}

.centerbutton-block{
    display: flex;
    justify-content: center;
    margin: auto;
}

.centerbutton-block button{
    margin-top: 15px;
    background-color: #611f69;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    padding: 20px 40px;
    color: white;
    cursor: pointer;
    transition: 0.3s all ease;
}

.centerbutton-block button:hover{
    background-color: #4d1953;
}

.centerbottomtext-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centerbottomtext-block h4, p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 13px 3px;
}

.icon-block{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#airbnb{
    height: 30px;
}

#target{
    height: 40px;
}

#nasa{
    height: 50px;
}

#uber{
    height: 22px;
}

.icon-block{
    margin-bottom: 25px;
}

.icon-block img{
    margin: 10px 40px;
    height: 30px;
}

.video-block{
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.video-block video{
    border-radius: 5px;
    width: 1000px;
}

.three-polos{
    display: none;
}

.three-polos img{
    height: 30px;
}

#search{
    display: none;
}

.bottomtext-block{
    margin: 60px auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    display: flex;
}

.bottomtext-block p{
    font-family: "Poppins", sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;
    width: 1300px;
    display: block;
    font-size: 50px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .top-menu ul{
        display: none;
    }
    .reg-block{
        display: none;
    }
    .three-polos{
        margin: auto 10px;
        display: flex;
    }
    #search{
        margin-right: 35px;
    }
}

@media screen and (max-width: 1040px) {
    .video-block{
        width: 800px;
        height: auto;
        margin-top: 15px;
        background-color: #611f69;
    }
    .video-block video{
        width: 800px;
    }
    .bottomtext-block{
        margin-top: 20px;
    }
    .bottomtext-block p{
        font-size: 40px;
    }
}

@media screen and (max-width: 840px) {
    .video-block{
        width: 600px;
        height: auto;
        margin-top: 15px;
        background-color: #611f69;
    }
    .video-block video{
        width: 600px;
    }
    .bottomtext-block p{
        font-size: 30px;
    }
    .bottomtext-block{
        margin-top: 15px;
    }
}

@media screen and (max-width: 640px) {
    .video-block{
        width: 500px;
        height: auto;
        margin-top: 15px;
        background-color: #611f69;
    }
    .video-block video{
        width: 500px;
    }
    .bottomtext-block p{
        font-size: 20px;
    }
    .bottomtext-block{
        margin-top: 10px;
    }
}

@media screen and (max-width: 540px) {
    .video-block{
        width: 400px;
        height: auto;
        margin-top: 15px;
        background-color: #611f69;
    }
    .video-block video{
        width: 400px;
    }
}

@media screen and (max-width: 1360px) {
    #but{
        display: none;
    }
}