body {
    background-color: rgb(44, 42, 42);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    text-align: center;
    color: coral;
    margin-top: 0px;
}

.card-form {
    background-color: rgb(54, 54, 54);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    color: white;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.btn {
    background-color: coral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #e66436;
}

input{
    background-color: rgb(44, 42, 42);
    border: 1px solid rgba(255, 127, 80, 0.47);
    border-radius: 10px;
    color: white;
}
